h1,
h2 {
  text-align: center;
  padding: 37px;
}
h3 {
  margin: 0;
  text-align: center;
}
hr {
  width: 30%;
  height: 2px;
  background-color: black;
  margin-top: 96px;
  margin-bottom: 34px;
}

.wrapper {
  width: 96%;
  margin: 0 auto;

  border-radius: 12px;
  background: #fff;
}

.about__content {
  display: grid;
  grid-template-columns: 100%;
}
.about {
  display: flex;
  gap: 26px;
  overflow: hidden;
}
.about__img {
  margin-top: 16px;
  width: 238%;
}
.about__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__text {
  padding: 17px 10px 0px 21px;
  font-size: 23px;
  margin: 0;
}
.about__text-inition {
  padding: 23px;
  font-size: 23px;
}

@media (max-width: 660px) {
  .about__missao {
    display: flex;
    flex-direction: column;
  }
  .about__img {
    width: 100%;
  }
  .about__text {
    padding: 0;
  }
}
.mvp {
  padding: 23px;
}
.mvp__content {
  padding: 9px;
  margin-bottom: 34px;
}

.about__missao {
  display: flex;
}

/* Card of squad */
.swiper {
  width: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}
#card {
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;

  margin: 0 2em;
}
/* .swiper-slide:not(.swiper-slide-active) {
  filter: blur(0.1px);
} */

.card__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: solid 5px black;
  margin-bottom: 2em;
}
.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  top: 0.2em;
}
.card__name {
  font-size: 2em;
  font-weight: 700;
  position: relative;
  top: 0.2em;
  margin-bottom: 8px;
}

.card__text {
  text-align: center;
  font-size: 1.1em;
  margin: 1em 0;
  font-weight: 600;
}
.icons__social__media {
  display: flex;
  justify-content: space-between;
  width: 57%;
  margin: 23px;
}
.icons__social__media i {
  font-size: 30px;
  color: black !important;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
}
.icons__social__media i:hover {
  color: #fca311;
}
a:visited
{
  color: black;
}
